.progress-bar {
  animation: shrink linear forwards;
}

.toast {
  animation: slideIn 0.2s ease-out; /* 0.2 segundos en lugar de 0.5 */
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shrink {
  from { width: 100%; }
  to   { width: 0%; }
}
